*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}

.button{
    font-size: 40px;
    padding: 5% 10%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; // Obligatoire sinon le ::after se fera sur le parent donc ici body
    z-index: 1; // Pour mettre au dessus du ::after pour voir le texte
    overflow: hidden; // Sinon on voit le ::after apparaître
    background-color: white;
    &:hover{ 
        color: white;
        &::after{ // AU survol le ::after prendra ces propriétés
            transform: translateY(0);
        }
    }
    &::after{
        content: ""; // OBLIGATOIRE
        position: absolute; // Par rapport à .button
        top:-1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-color: black;
        z-index: -1;
        transform: translateY(-100%); // Par défaut il est décalé et comme overflow hidden on le voit pas !
        transition: transform 250ms ease-in-out; // Transition sur le transform translate

    }
}