*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: cadetblue;
}

button{
    margin: 20px ;
}

/* 1st anim */

.button1{
    font-size: 30px;
    padding: 3% 6%;
    border: 2px solid black;
    border-radius: 20px;
    position: relative; // Obligatoire sinon le ::after se fera sur le parent donc ici body
    z-index: 1; // Pour mettre au dessus du ::after pour voir le texte
    overflow: hidden; // Sinon on voit le ::after apparaître
    background-color: white;
    cursor: pointer;
    &:hover{ 
        color: white;
        &::after{ // AU survol le ::after prendra ces propriétés
            transform: translateY(0);
        }
    }
    &::after{
        content: ""; // OBLIGATOIRE
        position: absolute; // Par rapport à .button
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-color: black;
        z-index: -1;
        transform: translateY(-100%); // Par défaut il est décalé et comme overflow hidden on le voit pas !
        transition: transform 0.2s ease-in-out; // Transition sur le transform translate

    }
}

/* 2nd anim */

.button2{
    font-size: 30px;
    padding: 3% 6%;
    border: 2px solid black;
    position: relative; // Obligatoire sinon le ::after se fera sur le parent donc ici body
    z-index: 1; // Pour mettre au dessus du ::after pour voir le texte
    overflow: hidden; // Sinon on voit le ::after apparaître
    background-color: white;
    color: white;
    cursor: pointer;
    &:hover{
        &::after{ // AU survol le ::after prendra ces propriétés
            transform: scaleY(0.9) scaleX(0.95);
        }
    }
    &::after{
        content: ""; // OBLIGATOIRE
        position: absolute; // Par rapport à .button
        top:-1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        background-color: black;
        z-index: -1;
        transition: transform 250ms ease-in-out;
    }
}

/* 3rd anim*/

.btn-marquee{
    font-family: sans-serif;
    padding: 20px 45px;
    font-size: 40px;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #000;

    &:hover{
        .base-txt{
            opacity: 0;
        }
        .marquee{
            animation: infiniteSpin 1s linear infinite;

            span{
                font-style: italic;
            }
        }

    }
}

.marquee{
    position: absolute;
    z-index: 10;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;

    span{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
    }
}

@keyframes infiniteSpin{
    100%{
        transform: translateX(-100%);
    }
}

/* 4st anim */

.focus-anim{
    padding: 30px 45px;
    font-size: 50px;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: white;

    &::before, &::after{
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-in-out;
    }

    &::before{
        border: 2px solid #000;
    }

    &::after{
        background: #000;
        z-index: -1;
    }

    &:hover{
        &::before{
            transform: scaleY(1.1) scaleX(1.05);
        }

        &::after{
            transform: scaleY(0.9) scaleX(0.95);
        }
    }

    //Pour que ça change au focus aussi pas que au hover
    &:focus{
        &::before{
            transform: scaleY(1.1) scaleX(1.05);
        }

        &::after{
            transform: scaleY(0.9) scaleX(0.95);
        }
    }

    //Grossit quand on clique
    &:active{
        &::before{
            transform: scaleY(1.2) scaleX(1.1);
        }
    }
}